#box{
    width: 100px;
    height: 100px;
    background-color: orange;
}

ul,ol{
  list-style-type: none;
  margin:0;
}

body {
    padding: 20px;
    background-color: pink;
  }

  input[type='radio']{
    accent-color: blue;
  }

  img{
    -webkit-box-reflect:right;
  }
/*   
  div {
    padding: 20px;
    background-color: green;
    width: max-content;
  }
  
  span {
    display: block;
    padding: 20px;
    background-color: blue;
  } */

  .listcounter{
    counter-reset: counterlist;
  }

  .listcounter li:before{
    content:counter(counterlist) " -" ;
    counter-increment:counterlist;
  }
  p.rtl {
    direction: rtl;
  }

  table,
  table tr th,
  table tr td{
    border:1px solid black;
    gap:30px;
    /* empty-cells: hide; */
  }

  .col{
    column-count: 3;
    column-gap: 100px;
    background-color: powderblue;
  }


  .smileyimg{
    image-rendering:high-quality;
  }

  .resize{
    inline-size: 100px;
    block-size: 50px;
    background-color: powderblue;
  }
  .resizetwo{
    background-color: red;
    inset-block-end: 100px;
    inset-block-start: 100px;
    margin-block-start: 200px;
    margin-block-end: 35px;
    margin-inline-end: 35px;
    margin-inline-start:100px;
  }

  
  .imgmask{
    -webkit-mask-image: radial-gradient(black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(black 50%, rgba(0, 0, 0, 0.5));
  }

  /* // search filter ui design */
  .header {
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
    }
    .header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
    }
    .header input:focus {
    outline: none;
    }
    .user-list {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
    }
    .user-list li {
    display: flex;
    padding: 20px;
    }
    .user-list img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
    }
    .user-list .user-info {
    margin-left: 10px;
    }
    .user-list .user-info h4 {
    margin: 0 0 10px;
    }
    .user-list .user-info p {
    font-size: 12px;
    }
    .user-list li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    }
    .user-list li.hide {
    display: none;
    }

    h1 {
      font-weight: normal;
      letter-spacing: .125rem;
      text-transform: uppercase;
    }
    
    li {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase;
    }
    
    li span {
      display: block;
      font-size: 4.5rem;
    }
    
    .emoji {
      display: none;
      padding: 1rem;
    }
    
    .emoji span {
      font-size: 4rem;
      padding: 0 .5rem;
    }
    
    @media all and (max-width: 768px) {
      h1 {
        font-size: calc(1.5rem * var(--smaller));
      }
    
      li {
        font-size: calc(1.125rem * var(--smaller));
      }
    
      li span {
        font-size: calc(3.375rem * var(--smaller));
      }
    }
    

    h2:after{
      content:attr(data-color)
    }

    p:after{
      content: attr(title);
    }